@model OdessaMasonFireworks.DATA.EF.Models.Order

@{
    ViewData["Title"] = "Edit Order #" + Model.Ponumber;
}

<header class="py-3" style="background-image: url(/assets/fireworks.jpg); background-size: cover;">
    <div class="container px-4">
        <div class="text-center custom-gold">
            <h1 class="display-4 fw-bolder">Edit Order #@Model.Ponumber</h1>
        </div>
    </div>
</header>

<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="Ponumber" class="control-label"></label>
                <input asp-for="Ponumber" class="form-control" />
                <span asp-validation-for="Ponumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotal" class="control-label"></label>
                <input asp-for="OrderTotal" class="form-control" />
                <span asp-validation-for="OrderTotal" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning btn-outline-dark" />
            </div>
        </form>
        <div class="my-2">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
