.custom-blue {
    background-color: midnightblue  !important;
    outline: solid;
    outline-color: #B59410;
    padding: -5px -5px 0px -5px;
}

.custom-gold {
    color: /*#B59410*/ goldenrod !important;
}

a.custom-gold {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a.custom-gold:hover {
    color: #fff !important;
}

.lodge {
    z-index: -100000000000000000000000000000;
    width: 100vw;
    height: 150vh;
}

.t {
    opacity: .8 !important;
}

.insignia {
    width: 500px !important;
    height: 500px !important;
}

.fadein {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-wdith: 767px) {
    
}
@media (max-width: 991px) {
    .smallcenter {
        text-align: center;
    }
    
    nav {
        
    }
}
